<%= form_for @skills, url: dashboard_path do |f| %>
    <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.check_box :html5%> <%= f.label :html5, "Html 5" %>
    </div>
</div>
    <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.check_box :css3%> <%= f.label :css3, "CSS 3" %>
    </div>
</div>
    <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.check_box :ruby%> <%= f.label :ruby %>
    </div>
</div>
    <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.check_box :python%> <%= f.label :python %>
    </div>
</div>
    <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.check_box :javascript%> <%= f.label :javascript %>
    </div>
</div>
    <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.check_box :jquery%> <%= f.label :jquery, "jQuery" %>
    </div>
</div>
    <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.check_box :php%> <%= f.label :php, "PHP" %>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
</div>
<% end %>