<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,400italic' rel='stylesheet' type='text/css'>
	<% content_for :title, "Dashboard" %>
</head>
<body>
  <div class="header">
    <ul class="items">
        <li id="logo"><img class="logo" src="https://i.imgur.com/9uDwNZU.png" /></li>
        <li class="dropdown">            
        <%= image_tag(current_user.avatar.url(:thumb), :class => "round-image-50") %>
        <div class="menu">
            <ul class="dropdownmenu">
                <li class="item"><a><i class="fa fa-pencil"></i><%= link_to " Practice", snippits_path %></a></li>
                <li class="item"><a><i class="fa fa-graduation-cap"></i><%= link_to " Learn", courses_path %></a></li>
                <li class="item"><a><i class="fa fa-code"></i><%= link_to " Projects", dashboard_path %></a></li>
                <li class="divider"></li>
                <li class="item"><a><i class="fa fa-user"></i><%= link_to " Edit Profile", edit_user_registration_path %></a></li>
                <li class="item"><a><i class="fa fa-sign-out"></i><%= link_to " Log Out", destroy_user_session_path, :method => :delete %></a></li>
            </ul>
        </li>
    </ul>
    </div>
    </li>
    </ul>
    </div>
    <strong class="welcome">Welcome back, <i><%= current_user.firstname.capitalize %></i>!</strong>
    <h1>You will meet on <b>Thursdays</b>, during lunch</h1>
    <h2>Now, go explore!</h2>

<style type="text/css">
	body {
		padding: 0px;
     margin: 0;
     background: url('https://i.imgur.com/mQ1nts6.png');
     background-size: 1440px 800px;
     background-repeat:no-repeat;
     overflow: hidden;
    display: compact;
	}
    .welcome{
        font-size: 3.5em;
        font-family: Raleway;
        padding: 25px;
    }
    .items {
        position: relative;
        bottom: 7px;
    }
    h1, h2 {
        font-family: Raleway;
        padding: 25px;
    }
    .items {
        position: relative;
        bottom: 7px;
    }
    .header {
        width: 100%;
        height: 60px;
        background-color:#2e2e2e;
    }
    .logo {
        position: absolute;
        height: 50px;
        top: 10px;
    }
    .logo:hover{
        cursor: pointer;
    }
    .round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    cursor: pointer;
    bottom: 10px;
    img { width: 100% }
}
.dropdown{
    left:75%;
    position: relative;
    bottom: 10px;
}
.header a{
        text-decoration: none;
    }
.dropdownmenu {
    position: absolute;
    top: 111%;
    min-width: 160px;
    z-index: 1000;
    display: none;
    float:left;
    padding: 0 0px;
    margin-right: 20px;
    list-style: none;
    font-size: 10px;
    margin-left: -50px;
    text-align: left;
    background-color: #2e2e2e;
}
.item a{
    line-height: 45px;
    padding-bottom: 3px;
    padding-top: 3px;
        color: #fff;
    font-size: 10px;
    text-decoration: none;
    font-weight: 20px;
    text-align: center;
        color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 20px;
    padding-left: 10px;
}
.item:hover {
    text-decoration: none;
    color: #fff;
    background-color: #3ac569;
    cursor: pointer;
}


.divider {
    background-color: #1F1F1F;
    height: 1px;
    margin:9px 0;
}
</style>
</body>
</html>