<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @learn.answer %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @learn.instructions %>
</p>

<p>
  <strong>Title:</strong>
  <%= @learn.title %>
</p>

<%= link_to 'Edit', edit_learn_path(@learn) %> |
<%= link_to 'Back', learns_path %>
