<head>
   <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
<link rel="stylesheet" href="http://codemirror.net/theme/monokai.css">
<script src="http://codemirror.net/lib/codemirror.js"></script>
<script src="http://codemirror.net/mode/xml/xml.js"></script>
<script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
    <script src="http://codemirror.net/addon/edit/continuecomment.js"></script>
<script src="http://codemirror.net/mode/javascript/javascript.js"></script>
<script src="http://codemirror.net/mode/css/css.js"></script>
    <script src="http://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
    <script src="http://codemirror.net/addon/edit/closetag.js"></script>
    <script src="http://codemirror.net/addon/display/autorefresh.js"></script>
</head>
<body>
<%= form_for [@course, @lesson] do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span class="jumbotron">
  <h2 style="text-align: center;"><%= @current_course.title %></h2>
  <p><%= Course.find(@current_course).instructions.html_safe %></p>
  </span>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :course_id, :value => @course.id %>
      <%= f.hidden_field :create, :value => 1 %>
        <ul class="nav nav-tabs">
        <li class="active"><a href="#html5", data-toggle=tab>HTML</a></li>
        <li><a href="#css3", data-toggle=tab>CSS</a></li>
        </ul>
        <div class="tab-content">
        <%= f.submit "Submit", class: 'btn btn-primary' %>
        <%= link_to 'Preview', :class => "btn btn-default" %>
        <div class="tab-pane active" id="html5">
<%= f.text_area(:code, :id => "code")%>
</div>
<div class="tab-pane" id="css3">
<%= f.text_area(:css, :id => "css")%>
</div>
</div>
<% end %>
<script>
      var delay;
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {mode: "text/html", tabMode: "indent",
        lineNumbers: true,
        lineWrapping: true,
        theme: "monokai",
        autoRefresh:true});
      editor.on("change", function() {
        clearTimeout(delay);
        delay = setTimeout(updatePreview, 300);
      });

var delay;
// Initialize CodeMirror editor with a nice html5 canvas demo.
var editor = CodeMirror.fromTextArea(document.getElementById('css'), {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true,
    theme:"monokai",
    mode: 'text/html',
    autoRefresh:true;
});

</script>
<style type="text/css">
  .CodeMirror {
      font-family: monospace;
  color: black;
  padding: 10px;
  height: 500px;
  width: 70%;
  display: all;
}
body {
  overflow: hidden;
      padding: 0px;
     margin: 0;
     background: url('https://i.imgur.com/mQ1nts6.png');
     background-size: 1440px 800px;
     background-repeat:no-repeat;
    display: compact;
}
.btn {
  position: absolute;
  bottom: 81%;
  left: 30%;

}
.btn-default{ 
  left: 20%;
 }
.tab-content {
  background-color: #272822
}
.tab-pane {
  border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #3ac569;
  color:white;
  border-radius: 0px;
  border-color: #3ac569;
}
.nav-tabs > li.active > a:hover {
  background-color: #3ac569;
  color:white;
  border-radius: 0px;

}
.nav-tabs > li > a {
  color:black;
}
.nav-tabs {
  margin-top: 20px;
}
.nav-tabs > li {
  position: relative;
  left: 7%;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #3ac569;
  color:white;
  border-radius: 0px;
  border-color: #3ac569;
}
.nav-tabs {
  border: none;
}
p {
  font-family: Raleway;
}
.jumbotron {
  width: 300px;
  height: 500px;
  left: 75%;
  top: 130px;
  padding: 10px;
position: absolute;
text-align: center;
border-radius: 15px;
font-family: Raleway;
}
</style>
</body>