<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @lesson.code %>
</p>

<p>
  <strong>Learn:</strong>
  <%= @lesson.learn %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
